{% extends '::plantilla.html.twig' %}
{# bootstrap_3_layout.html.twig #}
{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
{% endif %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            if($('#cont_curso').children().length<1) {
                agregar_form($('#curso-add'));
            }
        });
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li><a href="{{ path('inicial_lista_alumno') }}">Consultar Estudiantes</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        {% if form is defined %}
            <div class="col-sm-12 text-left">
                <div class="col-sm-12">
                    {{ form_start(form) }}
                    {{ form_row(form.cedula) }}
                    {{ form_row(form.primerApellido) }}
                    {{ form_row(form.segundoApellido) }}
                    {{ form_row(form.primerNombre) }}
                    {{ form_row(form.segundoNombre) }}
                    {{ form_row(form.fechaNacimiento) }}
                    {{ form_row(form.lugarNacimiento) }}
                    {{ form_row(form.sexo) }}
                    {% if form.montosAlumnos %}
                        <div id="cont_curso" data-prototype="{{form_widget(form.montosAlumnos.vars.prototype)|e }}">
                            {% for form_montosAlumnos in form.montosAlumnos %}
                                {{ form_widget(form_montosAlumnos) }}
                            {% endfor %}
                        </div>
                        <a id="monto-add" class="btn btn-default" data-target="cont_monto" title="agregar monto" style="display: none">test</a>
                    {% endif %}

                    {% if form.periodoEscolarCursoAlumno %}
                        <div id="cont_curso_edit" data-prototype="{{form_widget(form.periodoEscolarCursoAlumno.vars.prototype)|e }}">
                            {% for form_periodoEscolarCursoAlumno in form.periodoEscolarCursoAlumno %}
                                {{ form_row(form_periodoEscolarCursoAlumno) }}
                            {% endfor %}
                        </div>
                        <a id="curso-add_edit" class="btn btn-default" data-target="cont_curso_edit" title="agregar curso" style="display: none">test</a>
                    {% endif %}
                    <div class="col-sm-12 text-center ">
                        <br>
                        {{ form_row(form.guardar) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}