{% extends '::plantilla.html.twig' %}
{% if form is defined %}
    {% form_theme form "::bootstrap_3_layout.html.twig" %}
{% endif %}
{% block extra_head %}
    {% if form is defined %}
        <script>
            $(document).ready(function(){
                $("#test_inicialbundle_usuarios_activo").closest('div').attr('style', 'display:none');
                $("#test_inicialbundle_usuarios_guardar").click(function(){
                    $("#test_inicialbundle_usuarios_activo").attr('checked', false );
                })
            })
        </script>
    {% endif %}
    <style>
        .form-inline .form-control{
            max-width: 100%;
        }
        .form-inline .filter_select  select{
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var datatable_alumnos = $('#tbl_alumnos').dataTable({
                "dom": 'rtip',
                "bInfo": true,
                "bLengthChange": false,
                "bPaginate": true,
                "aaSorting": [],
                language:{
                    "sZeroRecords": "No hay registros que coincidan",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    search: "Búsqueda",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            }).columnFilter({
                sPlaceHolder: "head:after"
            });
            /*$('#buscar_datatable').keyup(function(){
             datatable_documentos.fnFilter($(this).val());
             } );*/
        });
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acciones <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="{{ path('inicial_editar_alumno', { 'id': datos.0.id }) }}" > Editar </a></li>
            <li><a href="{{ path('inicial_borrar_alumno', { 'id': datos.0.id }) }}">Borrar</a></li>
            <li><a href="{{ path('generico_constancia_estudios', { 'id': datos.0.id }) }}" target="_blank">Constancia de Estudios</a></li>
            <li><a href="{{ path('generico_constancia_inscripcion', { 'id': datos.0.id }) }}" target="_blank">Constancia de Incripcion</a></li>
        </ul>
    </li>
    <li><a href="{{ path('inicial_agregar_alumno') }}">Nuevo Estudiante</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <h2 class="clase">{{ accion }}</h2>
        {% if datos is not defined %}
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <p>No existe Estudiante con ese ID</p>
                </div>
            </div>
        {% else %}
            <div class="col-sm-6 col-sm-offset-3">
                <table class="table-bordered table-hover table-responsive" width="100%">
                    <tbody>
                    <tr>
                        <th colspan="2" class="text-center">Datos del Estudiante</th>
                    </tr>
                    <tr>
                        <th>Cedula: </th><td>{{ datos.0.cedula }}</td>
                    </tr>
                    <tr>
                        <th>Cedula Estudiantil: </th><td>{{ datos.0.cedulaEstudiantil }}</td>
                    </tr>
                    <tr>
                        <th>Primer Apellido: </th><td>{{ datos.0.primerApellido }}</td>
                    </tr>
                    <tr>
                        <th>Apellidos: </th><td>{{ datos.0.segundoApellido }}</td>
                    </tr>
                    <tr>
                        <th>Nombres: </th><td>{{ datos.0.primerNombre }}</td>
                    </tr>
                    <tr>
                        <th>Nombres: </th><td>{{ datos.0.segundoNombre }}</td>
                    </tr>
                    <tr>
                        <th>Fecha Nacimiento: </th><td>{{ datos.0.fechaNacimiento|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Lugar de Nacimiento: </th><td>{{ datos.0.lugarNacimiento }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if datos.0.alumnoRepresentanteDatos is defined%}
                <div class="row">
                    <div id="div_tbl_alumnos" class="col-sm-12">
                        <h4>Representanrtes Registrados</h4>
                        <table id="tbl_alumnos" class="table table-bordered table-hover table-responsive"  width="100%">
                            <thead>
                            <tr>
                                {% for key, campo in datos.0.alumnoRepresentanteDatos.0 %}
                                    {% if (key == 'id') or ('_id' in key) or (key == 'principal') or key == 'activo' %}
                                    {% else %}
                                        {% if campo is iterable %}
                                            {% for k, c  in campo %}
                                                {% if k != 'id'  or ('_id' not in k) or ('principal' not in k) or ('activo' not in k)  %}
                                                    <th>{{ k }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <th>{{ key }}</th>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for key, campo in datos.0.alumnoRepresentanteDatos.0 %}
                                    {% if (key == 'id') or ('_id' in key) or key == 'principal' or key == 'activo' %}
                                    {% else %}
                                        {% if campo is iterable %}
                                            {% for k, c  in campo %}
                                                {% if k != 'id' or ('_id' not in k) or ('principal' not in k) or ('activo' not in k) %}
                                                    <th>{{ k }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <th>{{ key }}</th>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for dato in datos.0.alumnoRepresentanteDatos %}
                                <tr>
                                    {% for  key, elemento in dato %}
                                        {% if  (key == 'id') or ( '_id' in key ) or ('principal' in key) or key == 'activo' %}
                                        {% else %}
                                            {% if elemento.timestamp is defined %}
                                                <td>{{ elemento|date('d/m/Y') }}</td>
                                            {% elseif (key == 'cedula') or ('cedula' in key) %}
                                                <td><a href="{{ path('inicial_detalle_usuario', { 'id': dato.id, 'tipo': 'representantes' }) }}">{{ elemento }}</a></td>
                                            {% else %}
                                                {% if elemento is iterable %}
                                                    {% for k, item in elemento %}
                                                        {% if  (k != 'id' ) or ('_id' not in k) or ('principal' not in k) or ('activo' not in k)  %}
                                                            {% if item.timestamp is defined %}
                                                                <td>{{ item|date('d/m/Y') }}</td>
                                                            {% else %}
                                                                <td>{{ item }}</td>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>{{ elemento }}</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if form is defined %}
            <div class="col-sm-12 ">
                <div class="col-sm-4 col-sm-offset-4 text-left">
                    {{ form(form) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}