{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
    <div class="col-sm-12 text-left">
        {% set form_url = accion == 'Crear Estudiante'?  path('generico_formulario_crear_estudiante') : path('generico_formulario_actualizar_estudiante', {'id':form.vars.data.id}) %}
        <div class="col-sm-12">
            {{ form_start
            (
            form, {
            'action': form_url,
            'attr': {'id': 'form_ajax'}
            }
            ) }}
            {{ form_row(form.cedula) }}
            {{ form_row(form.primerApellido) }}
            {{ form_row(form.segundoApellido) }}
            {{ form_row(form.primerNombre) }}
            {{ form_row(form.segundoNombre) }}
            {{ form_row(form.fechaNacimiento) }}
            {{ form_row(form.lugarNacimiento) }}
            {{ form_row(form.sexo) }}
            {{ form_row(form.tipoFacturacion) }}
            {% if form.periodoEscolarCursoAlumno %}
                <div id="cont_curso" data-prototype="{{form_widget(form.periodoEscolarCursoAlumno.vars.prototype)|e }}">
                    {% for form_periodoEscolarCursoAlumno in form.periodoEscolarCursoAlumno %}
                        {{ form_widget(form_periodoEscolarCursoAlumno) }}
                    {% endfor %}
                </div>
                <a id="curso-add" class="btn btn-default" data-target="cont_curso_edit" title="agregar curso" style="display: none">test</a>
            {% endif %}
            <div class="col-sm-12 text-center ">
                <br>
                {{ form_row(form.guardar) }}
                {{ form_row(form.guardar_crear) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
