{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
    <div class="col-sm-12 text-left">
        <div class="col-sm-12">
            {{ form_start
            (
            form, {
            'action': path('generico_formulario_crear_representante'),
            'attr': {'id': 'form_ajax'}
            }
            ) }}
                {% if form.tipoUsuario is defined %}
                    {{ form_row(form.tipoUsuario) }}
                {% endif %}
                {% if form.principal is defined %}
                    <label class="control-label required">Representante Principal</label>
                    {{ form_row(form.principal) }}
                {% endif %}
                {{ form_row(form.cedula) }}
                {{ form_row(form.primerApellido) }}
                {{ form_row(form.segundoApellido) }}
                {{ form_row(form.primerNombre) }}
                {{ form_row(form.segundoNombre) }}
                {{ form_row(form.fechaNacimiento) }}
                {{ form_row(form.sexo) }}
                {{ form_row(form.direccion) }}
                {{ form_row(form.email) }}
                {% if form.representanteContacto is defined %}
                    <div class="row">
                    <div id="cont_contacto" class="col-sm-12" data-prototype="{{form_widget(form.representanteContacto.vars.prototype)|e }}">
                        {% for form_contacto in form.representanteContacto %}
                            {{ form_widget(form_contacto) }}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="col-sm-12">
                        <a id="contacto-add" data-target="cont_contacto" title="agregar contacto"><img style="width: 40px;border-radius: 10px;" src="{{ asset('public/images/phone_book_add.png') }}"></a>
                    </div>
                {% endif %}
                <div class="col-sm-12 text-center">
                    {% if form.guardar_crear is defined %}
                        {{ form_row(form.guardar_crear) }}
                    {% endif %}
                    {{ form_row(form.guardar) }}
                    {% if form.omitir is defined %}
                        {{ form_row(form.omitir) }}
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
