{% use "bootstrap_3_layout.html.twig" %}

{% block form_row -%}
    {% if attr.class is defined and 'campo_unico' in attr.class %}
    {% else %}
        <div class="col-sm-6">
    {% endif %}
        {{- parent() -}}
    {% if attr.class is defined and 'campo_unico' in attr.class %}
    {% else %}
        </div>
    {% endif %}
{%- endblock form_row %}

{% block button_row -%}
    {% if 'data-first-button' in attr.class %}
        <div class="form-group col-sm-12 text-center">
    {% endif %}
    {{- form_widget(form) -}}
    {% if 'data-last-button' in attr.class %}
        </div>
    {% endif %}
{%- endblock button_row %}

{%- block form_start -%}
    <div class="panel panel-{% if form.vars.tipo_panel is defined %}{{ form.vars.tipo_panel }} {% else %}info{% endif %} ">
        <div class="panel-heading">
            <h2 class="panel-title">{% if form.vars.titulo is defined %}{{ form.vars.titulo }}{% endif %}</h2>
        </div>
        <div class="panel-body">
            {{- parent() -}}
{%- endblock form_start -%}
{%- block form_end -%}
    {{- parent() -}}
        </div>
    </div>
{%- endblock form_end -%}