<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('public/images/fe-y-alegria_fav.png') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/datepicker3.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/estilos_proyecto.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/dataTables.bootstrap.css')}}">
        <script type="text/javascript" src="{{ asset('public/js/jquery-2.0.0.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/jquery.dataTables.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/jquery.dataTables.columnFilter.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/dataTables.bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/bootstrap-datepicker.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/locales/bootstrap-datepicker.es.js')}}"></script>
        <script type="text/javascript" src="{{ asset('public/js/funciones.js')}}"></script>
        {% block extra_head %} {% endblock %}
        <title>Sistema Maria Rosa Molas{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container" id="wrap">
            <!--Encabezado-->
            <div id="cabecera">
                <div id="cabecera2">
                    <img src= "{{ asset('public/images/FyA.png') }}">
                </div>
            </div>
            {% if app.session.get('autenticado') %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('inicial_homepage') }}">Inicio</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inscripciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        {% if  (app.session.get('id_tipo_usuario')== 1) or (app.session.get('id_tipo_usuario')==2) or (app.session.get('id_tipo_usuario')==3) or (app.session.get('id_tipo_usuario')==4)%}
                                            <li><a href="{{ path('generico_inscripcion_completa') }}" title="Registro de Representantes y Estudiantes">· Inscripción Completa</a></li>
                                            <li><a href="{{ path('inicial_agregar_alumno') }}" title="Registro Estudiantes Con representantes previamente registrados">· Inscripción Estudiante</a></li>
                                            <!--
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Año escolar</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <!--<li><a href="#">agregar</a></li>
                                                    <li><a href="#">Asignar Alumnos</a></li>
                                                    <li class="dropdown-submenu">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">gestionar periodo escolar</a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="{##} path('inicial_lista_periodo') }}" >Consultas</a></li>
                                                            <li><a href="{##}{ path('inicial_agregar_periodo') }}">agregar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">gestionar cursos</a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#" >Consultas</a></li>
                                                            <li><a href="#">agregar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">gestionar Secciones</a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#" >Consultas</a></li>
                                                            <li><a href="#">agregar</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if  (app.session.get('id_tipo_usuario')== 1) or (app.session.get('id_tipo_usuario')==3) or (app.session.get('id_tipo_usuario')==4)%}

                                            <!--<li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturacion</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" >Consultas</a></li>
                                                    <li><a href="#">agregar</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagos</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" >Consultas</a></li>
                                                    <li><a href="#">agregar</a></li>
                                                </ul>
                                            </li>-->

                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Estudiantes <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        {% if  (app.session.get('id_tipo_usuario')== 1) or (app.session.get('id_tipo_usuario')==2) or (app.session.get('id_tipo_usuario')==3) or (app.session.get('id_tipo_usuario')==4)%}
                                            <li><a href="{{ path('inicial_lista_alumno') }}" >· Consulta</a></li>
                                            <li><a href="{{ path('inicial_pdf_alumno') }}" target="_blank">· Consulta PDF</a></li>
                                            <li><a href="{{ path('inicial_lista_datos_alumno_representante') }}" >· Datos Representante </a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Representantes <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        {% if  (app.session.get('id_tipo_usuario')== 1) or (app.session.get('id_tipo_usuario')==2) or (app.session.get('id_tipo_usuario')==3) or (app.session.get('id_tipo_usuario')==4)%}
                                            <li><a href="{{ path('inicial_lista_representante') }}" >· Consulta</a></li>
                                            <li><a href="{{ path('inicial_agregar_representante') }}" >· Agregar</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        {% if  (app.session.get('id_tipo_usuario')== 1) %}
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Varios</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('generico_homepage', { 'id': 2 }) }}">· Desarrollo</a></li>
                                                    <li><a href="{{ path('generico_listado_alumnos_contactos') }}">· Alumnos contactos</a></li>
                                                </ul>
                                            </li>
                                            <!--<li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{##}{ path('inicial_agregar_tipo_usuario') }}">· Tipos de Usuarios</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_roles') }}" >· Roles</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_permisos') }}" >· Permisos del Sistema</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_elementos') }}" >· Elementos del Sistema</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_eventos') }}" >· Eventos del Sistema</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_perfil') }}">· Agregar Perfil</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_usuario') }}">· Agregar Usuario</a></li>
                                                    <li><a href="{##}{ path('inicial_lista_usuario') }}" >· Consultas</a></li>
                                                    <li><a href="{##}{ path('inicial_pdf_usuario') }}" target="_blank">· Consultas PDF</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Periodo Escolar</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{##}{ path('inicial_agregar_grado') }}" >· Grado</a></li>
                                                    <li><a href="{##} path('inicial_agregar_curso') }}" >· Cursos</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_seccion') }}" >· Secciones</a></li>
                                                    <li><a href="{##}{ path('inicial_agregar_periodo') }}" >· Periodo Escolar</a></li>
                                                </ul>
                                            </li>-->
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mantenimiento<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        {% if  (app.session.get('id_tipo_usuario')== 1) %}
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Varios</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('inicial_agregar_tipo_contacto') }}">· Tipos de Contacto</a></li>
                                                    <li><a href="{{ path('inicial_agregar_tipo_factura') }}">· Tipos de Factura</a></li>
                                                    <li><a href="{{ path('inicial_agregar_tipo_facturacion') }}">· Tipos de Facturación</a></li>
                                                    <li><a href="{{ path('inicial_agregar_bancos') }}" >· Bancos</a></li>
                                                    <li><a href="{{ path('inicial_agregar_conceptos_factura') }}" >· Conceptos Factura</a></li>
                                                    <li><a href="{{ path('facturacion_agregar_tipo_montos') }}">· Tipos de Monto</a></li>
                                                    <li><a href="{{ path('generico_agregar_parentescos') }}">· Parentescos</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('inicial_agregar_tipo_usuario') }}">· Tipos de Usuarios</a></li>
                                                    <li><a href="{{ path('inicial_agregar_roles') }}" >· Roles</a></li>
                                                    <li><a href="{{ path('inicial_agregar_permisos') }}" >· Permisos del Sistema</a></li>
                                                    <li><a href="{{ path('inicial_agregar_elementos') }}" >· Elementos del Sistema</a></li>
                                                    <li><a href="{{ path('inicial_agregar_eventos') }}" >· Eventos del Sistema</a></li>
                                                    <li><a href="{{ path('inicial_agregar_perfil') }}">· Agregar Perfil</a></li>
                                                    <li><a href="{{ path('inicial_agregar_usuario') }}">· Agregar Usuario</a></li>
                                                    <li><a href="{{ path('inicial_lista_usuario') }}" >· Consultas</a></li>
                                                    <li><a href="{{ path('inicial_pdf_usuario') }}" target="_blank">· Consultas PDF</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Periodo Escolar</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="{{ path('inicial_agregar_grado') }}" >· Grado</a></li>
                                                    <li><a href="{{ path('inicial_agregar_curso') }}" >· Cursos</a></li>
                                                    <li><a href="{{ path('inicial_agregar_seccion') }}" >· Secciones</a></li>
                                                    <li><a href="{{ path('inicial_agregar_periodo') }}" >· Periodo Escolar</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% block enlace_atajo %}{% endblock %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.session.get('nombres') }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">· Cambio Contraseña</a></li>
                                        <li><a href="{{ path('inicial_logout') }}">· Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                            {% block buscar_datatable %}
                            {% endblock %}
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {%  endif %}
            
            <div class="row">
                <div class="col-sm-12">
                    {% block mensajes %}
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            {% embed 'mensajes.html.twig'%}
                            {% endembed %}
                        </div>
                    {% endblock %}
                    <div id="contenido" class="col-sm-12">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="container" id="footer">
            <div class="footer text-center">
                <div>
                    <p><strong>Unidad Educativa Maria Rosa Molas</strong>
                    <br>
                    Unidad Educativa Maria Rosa Molas: Urbanizacion Simón Bolivar Frente al Bloque 20 Caracas - Venezuela :: Teléfonos: 0212-870-25-98 / 0212-873-62-50
                    </br>
                    mariamolasfya@hotmail.com</p>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</html>