{% extends '::plantilla.html.twig' %}
{# bootstrap_3_layout.html.twig #}
{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
{% endif %}

{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
        <div data-content="{{ name }}" class="test_attr">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center panel-heading">
                    <h4>Nuevo Estudiante</h4>
                </div>
                <div class="col-sm-1 text-left">
                    <a class="btn-remove btn btn-danger btn-xs" data-target="post_usuario" data-related="{{ name }}">{{ remove_text }}</a>
                </div>
            </div>
            <div class="row">
                {{ form_widget(form) }}
            </div>
        </div>
{% endmacro %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% if accion == 'Crear Representante' or accion == 'Editar Representante'%}
                if($('#cont_contacto').children().length<1) {
                    agregar_form($('#contacto-add'));
                }
            {% endif %}
            $(document).on('click','.btn-add', function() {
                agregar_form($(this));
            });
            $(document).on('click','#contacto-add', function() {
                agregar_form($(this));
            });
            $(document).on('click','.btn-remove', function() {
                borrar_form($(this));
                renombrar_forms($(this).attr('data-target'));
            });
        });
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li><a href="{{ path('inicial_lista_usuario') }}">Consultar Usuarios</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        {% if form is defined %}
            <div class="col-sm-12 text-left">
                <div class="col-sm-12">
                    {{ form_start(form) }}

                        {% if form.tipoUsuario is defined %}
                            {{ form_row(form.tipoUsuario) }}
                        {% endif %}
                        {% if form.principal is defined %}
                            <label class="control-label required">Representante Principal</label>
                            {{ form_row(form.principal) }}
                        {% endif %}
                        {{ form_row(form.cedula) }}
                        {{ form_row(form.primerApellido) }}
                        {{ form_row(form.segundoApellido) }}
                        {{ form_row(form.primerNombre) }}
                        {{ form_row(form.segundoNombre) }}
                        {{ form_row(form.fechaNacimiento) }}
                        {{ form_row(form.sexo) }}
                        {{ form_row(form.direccion) }}
                        {{ form_row(form.email) }}
                        {% if form.representanteContacto is defined %}
                            <div class="row">
                            <div id="cont_contacto" class="col-sm-12" data-prototype="{{form_widget(form.representanteContacto.vars.prototype)|e }}">
                                {% for form_contacto in form.representanteContacto %}
                                    {{ form_widget(form_contacto) }}
                                {% endfor %}
                            </div>
                            </div>
                            <div class="col-sm-12">
                                <a id="contacto-add" data-target="cont_contacto" title="agregar contacto"><img style="width: 40px;border-radius: 10px;" src="{{ asset('public/images/phone_book_add.png') }}"></a>
                            </div>
                        {% endif %}
                        {% if form.alumno is defined %}
                            <div id="post_alumno" class="col-sm-12" data-prototype="{{ _self.widget_prototype(form.alumno, 'eliminar alumno')|escape }}">
                                {% for widget in form.alumno.children %}
                                    {{ _self.widget_prototype(widget, 'remover alumno') }}
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 text-center ">
                                <a class="btn-add btn btn-default" data-target="post_alumno">Agregar Estudiante</a>
                            </div>
                        {% endif %}
                        {{ form_row(form.guardar) }}
                        {% if form.guardar_crear is defined %}
                            {{ form_row(form.guardar_crear) }}
                        {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
     </div>
{% endblock %}