{% extends '::plantilla.html.twig' %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
    {% if not app.session.get('autenticado') %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Ingreso al Sistema</h2>
            </div>
            <div class="panel-body">
                <form class="form-signin" method="POST" action="{{path('inicial_homepage')}}">
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
                        <input type="text" id="usuario" class="form-control" name="usuario" placeholder="Nombre de Usuario" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Clave</label>
                        <input type="password" id="Password" class="form-control" name="password" placeholder="Clave" required>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-default" type="submit">Iniciar Sesion</button>
                        <a class="btn btn-default" href="{{ path('inicial_solicitar_pass') }}">Recuperar Contrase침a</a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
      </div>
    </div>
      
    {% if app.session.get('autenticado') %}
      <h1 align="center">Administrador </br><span class="glyphicon glyphicon-cog gi-3x" aria-hidden="true"></span></h1>        
        <div class="page-header"></div>
              <div class="row">
                <div class="col-xs-6 col-sm-3" align="right">
                  <a href="{{ path('inicial_config_usuarios') }}"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br />Configuraci칩n de Usuarios</button></a>
                </div>
                <div class="col-xs-6 col-sm-3" align="center">
                  <a href="{{ path('inicial_config_facturacion') }}"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br />Facturaci칩n</button></a>
                </div>
                <div class="col-xs-6 col-sm-3" >
                  <a href="{{ path('inicial_config_sistemas') }}"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br />Configuraci칩n de Sistema</button></a>
                </div>
                <div class="col-xs-6 col-sm-3" >
                  <a href="{{ path('inicial_pdf_alumno') }}" target="_blank"><button type="button" class="tn btn-lg btn-primary"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><br />Periodos Escolares</button></a>
                </div>
              </div>
                <a href="{{ path('inicial_config_periodos') }}"><h1><span class="glyphicon glyphicon-arrow-left gi-3x" aria-hidden="true"></a>
              
             
    {% endif %}
{% endblock %}