{% extends '::plantilla.html.twig' %}
{# bootstrap_3_layout.html.twig #}
{% if form is defined %}
    {% form_theme form "::bootstrap_3_layout.html.twig" %}
{% endif %}
{% block extra_head %}
    <script type="text/javascript">
            {% if accion == 'Crear Usuario' or 'Modificar Usuario' %}
            $(document).ready(function() {
                var select_tipo_usuario =$("#test_inicialbundle_usuarios_tipoUsuario");
                var div_form_principal= $("#test_inicialbundle_usuarios_principal");
                div_form_principal.removeAttr('required');

                if(select_tipo_usuario.val()==''||select_tipo_usuario.val()!=5){
                    div_form_principal.closest('.form-group').attr('style', 'display:none');
                }
                else{
                    div_form_principal.closest('.form-group').attr('style', 'display:inline');
                }

                select_tipo_usuario.change(function(){

                    if(select_tipo_usuario.val()==5){
                        div_form_principal.closest('.form-group').attr('style', 'display:inline');
                    }
                    else{
                        div_form_principal.closest('.form-group').attr('style', 'display:none');
                    }
                });
            });
            {% endif %}
    {% if accion == 'Listado de Usuarios' %}
        $(document).ready(function() {
            var datatable_usuarios = $('#tbl_usuarios').dataTable({
                "dom": 'rtip',
                "bInfo": true,
                "bLengthChange": false,
                "bPaginate": true,
                "aaSorting": [],
                language:{
                    "sZeroRecords": "No hay registros que coincidan",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    search: "Búsqueda",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            });
        });
        {% endif %}
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li><a href="{{ path('inicial_lista_usuario') }}">Consultar Usuarios</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <h2 class="clase">{{ accion }}</h2>
        {% if form is defined %}
            <div class="col-sm-12 text-left">
                <div class="col-sm-4 col-sm-offset-4 ">
                    {{ form(form) }}
                </div>
            </div>
        {% endif %}
            {% if datos is defined %}
                <table id="tbl_usuarios" class="table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            {% for campo in datos.0|keys %}
                                <th>{{ campo }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos %}
                            <tr>
                            {% for  key, elemento in dato %}
                                <td>
                                {% if elemento.timestamp is defined %}
                                    {{ elemento|date('d/m/Y') }}
                                {% elseif key == 'cedula' %}
                                    <a href="{{ path('inicial_editar_usuario', { 'id': dato.id }) }}">{{ elemento }}</a>
                                {% else %}
                                    {{ elemento }}
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

    </div>
{% endblock %}