{% extends '::plantilla.html.twig' %}
{% if form is defined %}
    {% form_theme form "::bootstrap_3_layout.html.twig" %}
{% endif %}
{% block extra_head %}
    {% if form is defined %}
    {% endif %}
    <style>
        .form-inline .form-control{
            max-width: 100%;
        }
        .form-inline .filter_select  select{
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var datatable_alumnos = $('#tbl_alumnos').dataTable({
                "dom": 'rtip',
                "bInfo": true,
                "bLengthChange": false,
                "bPaginate": true,
                "aaSorting": [],
                language:{
                    "sZeroRecords": "No hay registros que coincidan",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    search: "Búsqueda",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            }).columnFilter({
                sPlaceHolder: "head:after"
            });
            /*$('#buscar_datatable').keyup(function(){
             datatable_documentos.fnFilter($(this).val());
             } );*/
        });
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acciones <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="{{ path('inicial_editar_representante', { 'id': datos.0.id }) }}" > Editar </a></li>
            <li><a href="{{ path('inicial_borrar_usuario', { 'id': datos.0.id }) }}">Borrar</a></li>
        </ul>
    </li>
    <li><a href="{{ path('inicial_agregar_representante') }}">Nuevo Representante</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <h2 class="clase">{{ accion }}</h2>
            {% if datos is not defined %}
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <p>No existe representante con ese ID</p>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-6 col-sm-offset-3">
                    <table class="table-bordered table-hover table-responsive" width="100%">
                        <tbody>
                        <tr>
                            <th colspan="2" class="text-center">Datos del Representante</th>
                        </tr>
                        <tr>
                            <th>Cedula: </th><td>{{ datos.0.cedula }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos: </th><td>{{ datos.0.apellidos }}</td>
                        </tr>
                        <tr>
                            <th>Nombres: </th><td>{{ datos.0.nombres }}</td>
                        </tr>
                        <tr>
                            <th>Direccion: </th><td>{{ datos.0.direccion }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                </div>
                {% if datos.0.alumno is defined%}
                    <div class="row">
                        <div id="div_tbl_alumnos" class="col-sm-12">
                            <h4>Alumnos Representados</h4>
                            <table id="tbl_alumnos" class="table table-bordered table-hover table-responsive"  width="100%">
                                <thead>
                                <tr>
                                    {% for key, campo in datos.0.alumno.0 %}
                                        {% if (key == 'id') or ('_id' in key) %}
                                        {% else %}
                                            {% if campo is iterable %}
                                                {% for k, c  in campo %}
                                                    {% if k != 'id' %}
                                                        <th>{{ k }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <th>{{ key }}</th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for key, campo in datos.0.alumno.0 %}
                                        {% if (key == 'id') or ('_id' in key) %}
                                        {% else %}
                                            {% if campo is iterable %}
                                                {% for k, c  in campo %}
                                                    {% if k != 'id' %}
                                                        <th>{{ k }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <th>{{ key }}</th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for dato in datos.0.alumno %}
                                    <tr>
                                        {% for  key, elemento in dato %}
                                            {% if  (key == 'id') or ( '_id' in key ) %}
                                            {% else %}
                                                {% if elemento.timestamp is defined %}
                                                    <td>{{ elemento|date('d/m/Y') }}</td>
                                                {% elseif (key == 'cedula') or ('cedula' in key) %}
                                                    <td><a href="{{ path('inicial_detalle_alumno', { 'id': dato.id, 'tipo': 'representante'}) }}">{{ elemento }}</a></td>
                                                {% else %}
                                                    {% if elemento is iterable %}
                                                        {% for k, item in elemento.0 %}
                                                            {% if  (k != 'id' ) or ('_id' not in key) %}
                                                                {% if item.timestamp is defined %}
                                                                    <td>{{ item|date('d/m/Y') }}</td>
                                                                {% else %}
                                                                    <td>{{ item }}</td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <td>{{ elemento }}</td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}