{% extends '::plantilla.html.twig' %}
{# bootstrap_3_layout.html.twig #}
{% if form is defined %}
    {% form_theme form "::bootstrap_3_layout.html.twig" %}
{% endif %}
{% block extra_head %}
    <style>
        .form-inline .form-control{
            max-width: 100%;
        }
        .form-inline .filter_select  select{
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var datatable_usuarios = $('#tbl_usuarios').dataTable({
                "dom": 'rtip',
                "bInfo": true,
                "bLengthChange": false,
                "bPaginate": true,
                "aaSorting": [],
                language:{
                    "sZeroRecords": "No hay registros que coincidan",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    search: "Búsqueda",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            }).columnFilter({
                sPlaceHolder: "head:after"
            });
            /*$('#buscar_datatable').keyup(function(){
                datatable_documentos.fnFilter($(this).val());
            } );*/
        });
    </script>
{% endblock %}
{% block enlace_atajo %}
    <li><a href="{{ path('inicial_pdf_alumno') }}">Agregar Periodo</a></li>
    <li><a href="{{ path('periodo_escolar_inicio') }}">Agregar Periodo</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <h2 class="clase">{{ accion }}</h2>
        <div id="div_tbl_usuarios">
            <table id="tbl_usuarios" class="table-bordered table-hover table-responsive"  width="100%">
                <thead>
                    <tr>
                        {% for campo in datos|keys %}
                            {% if campo == 'id' %}
                            {% else %}
                                <th>{{ campo }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for campo in datos|keys %}
                            {% if campo == 'id' %}
                            {% else %}
                                <th>{{ campo }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dato in datos %}
                        <tr>
                        {% for  key, elemento in dato %}
                            {% if  key != 'id' %}
                                <td>
                                {% if elemento.timestamp is defined %}
                                    {{ elemento|date('d/m/Y') }}
                                {% elseif key == 'cedula' %}
                                    <a href="{{ path('inicial_detalle_usuario', { 'id': dato.id }) }}">{{ elemento }}</a>
                                {% else %}
                                    {{ elemento }}
                                {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
