{% extends '::plantilla.html.twig' %}
{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
{% endif %}
{% block content %}
    <div class="row text-center">
        {% if form is defined %}
            <div class="col-sm-12 text-left">
                <div class="col-sm-4 col-sm-offset-4 ">
                    {{ form(form) }}
                </div>
            </div>
        {% else %}
            <h2 class="clase">{{ accion }}</h2>
        {% endif %}
    </div>
    <br>
    <div class="row">
        {% if datos is defined %}
            {% if datos %}
                <div class="col-sm-4 col-sm-offset-4 ">
                    <table id="tbl_mantenimiento" class="table-bordered table-hover table-responsive"  width="100%">
                        <thead>
                        <tr>
                            {% for key, campo in datos.0 %}
                                {% if (key == 'id') or ('_id' in key) or ( 'activo' in key ) %}
                                {% else %}
                                    {% if campo is iterable %}
                                        {% for k, c  in campo.0 %}
                                            {% if k != 'id' %}
                                                <th class="text-center">{{ k }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <th class="text-center">{{ key }}</th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if operaciones_datos is defined %}
                                <th>operaciones</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in datos %}
                            <tr>
                                {% for  key, elemento in dato %}
                                    {% if  (key == 'id') or ( '_id' in key ) or ( 'activo' in key ) %}
                                    {% else %}
                                        {% if elemento.timestamp is defined %}
                                            <td>{{ elemento|date('d/m/Y') }}</td>
                                       {% else %}
                                            {% if elemento is iterable %}
                                                {% for k, item in elemento.0 %}
                                                    {% if  (k != 'id' ) or ('_id' not in key) %}
                                                        {% if item.timestamp is defined %}
                                                            <td>{{ item|date('d/m/Y') }}</td>
                                                        {% else %}
                                                            <td>{{ item }}</td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <td>{{ elemento }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if operaciones_datos is defined %}
                                    <td>
                                        <a href="{{ path(url_editar, { 'id': dato.id }) }}" class="btn btn-default btn-xs">Editar</a>
                                        <a href="{{ path(url_borrar, { 'id': dato.id }) }}" class="btn btn-default btn-xs">Borrar</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">No Hay Registros para mostrar </h4>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}