<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/fe-y-alegria_fav.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/datepicker3.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/estilos_proyecto.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/dataTables.bootstrap.css')}}">
    {% block extra_head %} {% endblock %}
</head>
<body>
<div class="container">
    <div style= "border: solid 1px ">
        <div id="cabecera">
            <div id="cabecera2">
                <img src= "{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/logo-FyA.jpg') }}">
            </div>
        </div>
        <br>
        <div class="text-right">Rif.J00133027-5</div>
        <br>
        <br>
        <div class="text-center"><h4>CONSTANCIA DE ESTUDIO</h4></div>
        <br>
        <br>
        <br>
        <div class="text-left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;La suscrita Directora de la Unidad Educativa Fe y Alegria <strong>"Maria Rosa Molas"</strong>
                Hace constar por medio de la presente que el Escolar <strong>{{ datos.0.estudiante.primerNombre|upper }} {{ datos.0.estudiante.primerApellido|upper }}</strong> de
                <strong>{{ edad }}</strong> años de edad cursa en este plantel el <strong>{{ datos.3.curso.nombre}} "{{ datos.4.seccion.nombre}}</strong> de la rama de
                <strong>EDUCACION {{ datos.5.etapa.nombre|upper }}</strong> durante el Año Escolar {{ datos.2.periodo.nombre|upper }}</p>
            <br>
            <br>
            <br>
            <br>
            <div class="text-left">
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Constancia que se expide a peticion de la parte interesada en Caracas a los <strong>{{ fecha|date('d')}}</strong> dias del mes de
                    <strong>{{ fecha|date('F')}}</strong> de <strong>{{ fecha|date('Y')}}</strong></p>
            </div>
            <div class="text-center">
            <br>
            <br>
            <br>
            <p>Atentamente,</p>
            <br>
            <br>

                <p>Lic Alejandra R de Osorio</p>
                <p>Directora</p>
            </div>
            <br>
            <br>
            <div class="text-center">
            <p> Urbanizacion Simón Bolivar Frente al Bloque 20 Caracas - Venezuela :: Teléfonos: 0212-870-25-98 / 0212-873-62-50 Email: mariamolasfya@hotmail.com mariamolasfya@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>