<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/fe-y-alegria_fav.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/datepicker3.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/estilos_proyecto.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/dataTables.bootstrap.css')}}">
    {% block extra_head %} {% endblock %}
</head>
<body>
<div class="container">
    <div>
        <div id="cabecera">
            <div id="cabecera2">
                <img src= "{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/logo-FyA.jpg') }}">
            </div>
        </div>
        <br>
        <div class="text-right">Rif.J00133027-5</div>
        <br>
        <div class="text-center"><h4>CONSTANCIA DE INSCRIPCIÓN</h4></div>
        <br>
        <div class="text-center">
            <p>La suscrita Directora de la Unidad Educativa Fe y Alegria <strong>"Maria Rosa Molas"</strong></p>
            <p><strong>Código DEA : PD05220105</strong></p>
            <p>Hace constar por medio de la presente que el (la) alumno (a)</p>
            <br>
            <h3><strong>{{ datos.0.estudiante.primerNombre|upper }} {{ datos.0.estudiante.primerApellido|upper }}</strong></h3>
            <p>DE <strong>{{ edad }}</strong> años de edad</p>
            <br>
            <div class="text-left">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Ha sido <strong>Inscrito (a) </strong>en este Plantel para cursar el <strong>{{ datos.3.curso.nombre}} en la SECCION "{{ datos.4.seccion.nombre}}"</strong> de <strong>Educación {{ datos.5.etapa.nombre|upper }}</strong> para el año escolar <strong>{{ datos.2.periodo.nombre|upper }}</strong></p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Constancia que se expide a petición de la parte interesada en Caracas a los <strong>{{ fecha|date('d')}}</strong> dias del mes de <strong>{{ fecha|date('F')}}</strong> de <strong>{{ fecha|date('Y')}}</strong></p>
            </div>
            <br>
            <p>Atentamente,</p>
            <br>
            <br>
            <p>Lic Alejandra R de Osorio</p>
            <p>Directora</p>
            <br>
            <br>
            <br>
            <br>
            <p> Urbanizacion Simón Bolivar Frente al Bloque 20 Caracas - Venezuela :: Teléfonos: 0212-870-25-98 / 0212-873-62-50 Email: mariamolasfya@hotmail.com mariamolasfya@gmail.com</p>
        </div>
    </div>
</div>
</body>
</html>