{% extends '::plantilla.html.twig' %}
{# bootstrap_3_layout.html.twig #}
{% if form is defined %}
    {% form_theme form "::formulario_bootstrap_div.html.twig" %}
{% endif %}

{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
        <div data-content="{{ name }}" class="test_attr">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center panel-heading">
                    <h4>Nuevo Estudiante</h4>
                </div>
                <div class="col-sm-1 text-left">
                    <a class="btn-remove btn btn-danger btn-xs" data-target="post_usuario" data-related="{{ name }}">{{ remove_text }}</a>
                </div>
            </div>
            <div class="row">
                {{ form_widget(form) }}
            </div>
        </div>
{% endmacro %}

{% block extra_head %}
    <style>
        .form-inline .form-control{
            max-width: 100%;
        }
        .form-inline .filter_select  select{
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if accion is defined and accion == 'Crear Representante' %}
                if($('#cont_contacto').children().length<1) {
                    agregar_form($('#contacto-add'));
                }
            {% endif %}
            {% if accion is defined and  accion == 'Crear Estudiante' %}
                if($('#cont_curso').children().length<1) {
                    agregar_form($('#curso-add'));
                }
                var cant_seccion = {{ form.vars.datos_secciones|json_encode|raw }};

                $(document).on('change','#test_inicialbundle_alumnos_simple_periodoEscolarCursoAlumno_0_cursoSeccion', function() {
                    $(this).closest('.control-group').removeClass('has-success', 'has-warning');
                    var cupos_disp = cant_seccion[this.value]['cupos']-cant_seccion[this.value]['alumnos'];
                    if(cant_seccion[this.value]['cupos'] > cant_seccion[this.value]['alumnos']){
                        $(this).after('<p class="edd_info_field">Cupos disponibles '+cupos_disp+' de '+cant_seccion[this.value]['cupos']+'<p>')
                    }
                    else{
                        if(cant_seccion[this.value]['cupos'] == cant_seccion[this.value]['alumnos']) {
                            $(this).closest('div').addClass('has-warning');
                            $(this).after('<p class="edd_info_field">Cupos llenos para esta seccion' + cupos_disp + ' de ' + cant_seccion[this.value]['cupos'] + '<p>')
                        }
                        else
                        {
                            $(this).closest('div').addClass('has-error');
                            $(this).after('<p class="edd_info_field edd_info_field_warning">Cupos para esta seccion excedidos ' + cupos_disp + ' de ' + cant_seccion[this.value]['cupos'] + '<p>')
                        }
                    }
                });
            {% endif %}
            $(document).on('click','.btn-add', function() {
                agregar_form($(this));
            });
            $(document).on('click','#contacto-add', function() {
                agregar_form($(this));
            });
            $(document).on('click','.btn-remove', function() {
                borrar_form($(this));
                renombrar_forms($(this).attr('data-target'));
            });
            $(document).on('click','.enlace_inscripcion', function(event) {
                var apellido = $(this).closest('td').next('td').text().trim();
                var nombre = $(this).closest('td').next('td').next('td').text().trim();
                if (confirm('Representante: '+nombre+' '+apellido+'\nEsta seguro?')){
                }
                else{
                    event.preventDefault();
                }
            });
            var datatable_usuarios = $('#tbl_usuarios').dataTable({
                "dom": 'rtip',
                "bInfo": true,
                "bLengthChange": false,
                "bPaginate": true,
                "aaSorting": [],
                language:{
                    "sZeroRecords": "No hay registros que coincidan",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    search: "Búsqueda",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            }).columnFilter({
                sPlaceHolder: "head:after"
            });
            $(".representante_principal").click(function(){
                var grupo = "input:checkbox[class='representante_principal']";
                //$(grupo).attr("checked",false);
                $(grupo).not(this).prop("checked",false);
                //$(this).attr("checked",true);
            });
        });
    </script>
{% endblock %}
{% block enlace_atajo %}

{% endblock %}
{% block content %}
    <div class="row text-center">
        {#{% if form is defined %}#}
            <div class="col-sm-12 text-left">
                <div class="col-sm-12">

                    <a href="#crear_representante" data-toggle="modal" class="campaignModalLink btn btn-default">test</a>

                    {% if accion is defined and action == 'Crear Estudiante' %}
                        {{ form_start(form) }}
                            {{ form_row(form.cedula) }}
                            {{ form_row(form.primerApellido) }}
                            {{ form_row(form.segundoApellido) }}
                            {{ form_row(form.primerNombre) }}
                            {{ form_row(form.segundoNombre) }}
                            {{ form_row(form.fechaNacimiento) }}
                            {{ form_row(form.lugarNacimiento) }}
                            {{ form_row(form.sexo) }}
                            {{ form_row(form.tipoFacturacion) }}
                            {% if form.periodoEscolarCursoAlumno is defined %}
                                <div id="cont_curso" data-prototype="{{form_widget(form.periodoEscolarCursoAlumno.vars.prototype)|e }}">
                                    {% for form_periodoEscolarCursoAlumno in form.periodoEscolarCursoAlumno %}
                                        {{ form_widget(form_periodoEscolarCursoAlumno) }}
                                    {% endfor %}
                                </div>
                                    <a id="curso-add" class="btn btn-default" data-target="cont_curso" title="agregar curso" style="display: none">test</a>
                            {% endif %}
                            {#{ form_row(form.representante) }#}
                            {% if form.alumnoRepresentanteDatos is defined %}
                                <div class="col-sm-12">
                                    <p>Representantes:</p>
                                    {% for form_alumnoRepresentanteDatos in form.alumnoRepresentanteDatos %}
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            {{ app.session.get('representantes')[loop.index0].primerNombre }} {{ app.session.get('representantes')[loop.index0].primerApellido }}
                                        </div>
                                            {{ form_row(form_alumnoRepresentanteDatos.parentesco) }}
                                        <div class="col-sm-2">
                                            {{ form_row(form_alumnoRepresentanteDatos.principal) }}
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div class="col-sm-12 text-center ">
                                <br>
                                {{ form_row(form.guardar) }}
                                {{ form_row(form.guardar_crear) }}
                            </div>
                        {{ form_end(form) }}
                    {% endif %}
                    {% if accion is defined and accion == 'Crear Montos para Estudiante' %}
                        {{ form_start(form) }}
                            <div class="row text-center">
                                Crear montos para el estudiante: {{ estudiante.primerNombre }} {{ estudiante.primerApellido }}
                                <br>
                                <br>
                            </div>
                            {{ form_errors(form) }}
                            {% for subform in form.children %}
                                <div class="col-sm-6">
                                {% if not loop.last %}
                                    {{ form_row(subform.nombre) }}
                                {% endif %}
                                {% for item in subform %}
                                    <div class="col-sm-10 col-sm-offset-1">
                                    {% for elemento in item %}
                                        {{ form_row(elemento.nombre) }}
                                        {% if elemento.montosAlumnos is defined %}
                                            {% for monto in elemento.montosAlumnos %}
                                                {{ form_row(monto.monto) }}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                            <button type="submit" id="guardar" name="[guardar]" class="btn-default data-first-button data-last-button btn">Guardar</button>
                        {{ form_end(form) }}
                    {% endif %}
                    {% if accion is defined and accion == 'Agregar Pago' %}
                        {{ form(form) }}
                        <table class="table table-bordered table-hover table-responsive">
                            {% for factura in facturas %}
                                <tr>
                                    <td><label><input type="checkbox" name="facturas[]" value="factura.id"> Seleccionar para pagar</label></td>
                                    <th colspan="3" class="text-center">Datos de la Factura</th>
                                </tr>
                                <tr>
                                    <td>Estudiante: {{ alumnos_facturas[factura.id].primerNombre }} {{  alumnos_facturas[factura.id].primerApellido }} </td>
                                    <td>
                                        {% if alumnos_facturas[factura.id].cedula %}
                                            {{ alumnos_facturas[factura.id].cedula }}
                                        {% else %}
                                            {{ alumnos_facturas[factura.id].cedulaEstudiantil }}
                                        {% endif %}
                                    </td>
                                    <td>{{ factura.fecha|date('d/m/Y')}}</td>
                                    <td>{{ factura.monto }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if accion is defined and accion != 'Resumen Inscripción' %}
                        {% if app.session.get('representantes') %}
                            <table class="table table-bordered table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="text-center">Representante</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for representante in app.session.get('representantes') %}
                                    <tr>
                                        <th>nombre:</th>
                                        <td>{{ representante.primerNombre }} {{ representante.primerApellido }}</td>
                                        <th>cedula:</th>
                                        <td>{{ representante.cedula}}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        {% endif %}
                        {% if app.session.get('alumnos_inscripcion') %}
                            <table class="table table-bordered table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="text-center">Estudiantes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for estudiante in app.session.get('alumnos_inscripcion') %}
                                        <tr>
                                            <th>nombre:</th>
                                            <td>{{ estudiante.primerNombre }} {{ estudiante.primerApellido }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {#{% endif %}#}
        {% if accion is defined and accion == 'Seleccione Representante' %}
            <h2 class="text-center">{{ accion|title }}</h2>
            <div id="div_tbl_usuarios">
                <table id="tbl_usuarios" class="table-bordered table-hover table-responsive"  width="100%">
                    <thead>
                        <tr>
                            {% for campo in lista_representante.0|keys %}
                                {% if campo == 'id' %}
                                {% else %}
                                    <th>{{ campo }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for campo in lista_representante.0|keys %}
                                {% if campo == 'id' %}
                                {% else %}
                                    <th>{{ campo }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in lista_representante %}
                            <tr>
                            {% for  key, elemento in dato %}
                                {% if  key != 'id' %}
                                    <td>
                                    {% if elemento.timestamp is defined %}
                                        {{ elemento|date('d/m/Y') }}
                                    {% elseif key == 'cedula' %}
                                        <a href="{{ path('generico_inscripcion_agregar_alumno', { 'id_rep': dato.id }) }}" class="enlace_inscripcion">{{ elemento }}</a>
                                    {% else %}
                                        {{ elemento }}
                                    {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if accion is defined and accion == 'Resumen Inscripción' %}
            <h3>Resumen del proceso de Inscripción</h3>
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                <tr>
                    <th colspan="4" class="text-center">Representantes</th>
                </tr>
                </thead>
                <tbody>
                {% for representante in app.session.get('representantes') %}
                <tr>
                    <th>nombre:</th>
                    <td>{{ representante.primerNombre }} {{ representante.primerApellido }}</td>
                    <th>cedula:</th>
                    <td>{{ representante.cedula}}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                <tr>
                    <th colspan="4" class="text-center">Estudiantes</th>
                </tr>
                </thead>
                <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <th>nombre:</th>
                        <td>{{ estudiante.primerNombre }} {{ estudiante.primerApellido }}</td>
                        <td>{{ estudiante.cedula }}</td>
                        {% for periodos in periodos_alumnos %}
                            {% for periodo in periodos %}
                                {% if periodo.Alumno.id == estudiante.id %}
                                    <td>
                                        {{ periodo.cursoSeccion.nombre }}
                                    </td>
                                {% endif %}
                        </tr>
                        <tr>
                                {% for factura in app.session.get('facturas') %}
                                    {% if periodo.id == factura.PeriodoEscolarCursoAlumnos.id %}
                                    <td>
                                        <a href="{{ path('generico_recibo_pago', { 'id': factura.id }) }}">Recibo cobro inscripción</a>
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                    {% endfor %}
                    <td>
                        <a href="{{ path('generico_constancia_inscripcion', { 'id': estudiante.id }) }}">Constancia inscripción</a>
                    </td>
                    <td colspan="2">
                        <a href="{{ path('generico_constancia_estudios', { 'id': estudiante.id }) }}">Constancia de Estudios</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="post">
                <button type="submit" id="guardar" name="[guardar]" title="Finalizar" class="btn-default data-first-button data-last-button btn">Guardar</button>
            </form>
        {% endif %}
    </div>



    <div style="display: none;" aria-hidden="true" role="dialog" tabindex="-1" id="crear_representante" class="crear-modal modal fade">
        <div class="modal-content">
            <div data-dismiss="modal" class="close-modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{render(controller("genericoBundle:Default:formulario_crear_representante_generico"))}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}