<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/fe-y-alegria_fav.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/datepicker3.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/estilos_proyecto.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/dataTables.bootstrap.css')}}">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <div>

            <div id="cabecera">
                <div id="cabecera2">
                    <img src= "{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/logo-FyA.jpg') }}">
                </div>
            </div>

            <div class="text-center"><h4>{{ accion|upper }}</h4></div>

            {% for dato in datos %}
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3"><strong>{{ dato.alumno.primerApellido }} {{ dato.alumno.primerNombre }}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2">Fecha de Nacimiento: {{ dato.alumno.fechaNacimiento|date('d/m/Y') }}</td><td>Edad: {{ dato.alumno.edad }}</td>
                    </tr>
                    {% for representante in dato.alumno.representante %}
                        {% if representante.principal %}
                            <tr>
                                <td>{{ representante.nombres }} {{ representante.apellidos }}</td><td>Cedula: {{ representante.cedula }}</td>
                                <td>Contacto:
                                {% for contacto in representante.representanteContacto %}
                                    {{ contacto.contacto }}
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">{{ representante.direccion }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for representante in dato.alumno.representante %}
                        {% if not representante.principal %}
                            <tr>
                                <td colspan="3">{{ representante.direccion }}</td>
                            </tr>
                            <tr>
                                <td>{{ representante.nombres }} {{ representante.apellidos }}</td><td>Cedula: {{ representante.cedula }}</td>
                                <td>Contacto:
                                    {% for contacto in representante.representanteContacto %}
                                        {{ contacto.contacto }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <br>
            {% endfor %}
        </div>
    </div>
</body>
</html>