<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/images/fe-y-alegria_fav.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/datepicker3.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/estilos_proyecto.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('public/css/dataTables.bootstrap.css')}}">
    {% block extra_head %} {% endblock %}
</head>
<body>
    <table id="tbl_alumnos" class="table-bordered table-striped table-responsive"  style= "width:750px;">
        <thead>
        <tr>
            {% for key, campo in datos.0 %}
                {% if (key == 'id') or ('_id' in key) %}
                {% else %}
                    {% if campo is iterable %}
                        {% for k, c  in campo.0 %}
                            {% if k != 'id' %}
                                <th>{{ k }}</th>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for dato in datos %}
            <tr>
                {% for  key, elemento in dato %}
                    {% if  (key == 'id') or ( '_id' in key ) %}

                    {% else %}
                        {% if elemento.timestamp is defined %}
                            <td>{{ elemento|date('d/m/Y') }}</td>
                        {% elseif (key == 'cedula') or ('cedula' in key) %}
                            <td>{{ elemento }}</td>
                        {% else %}
                            {% if elemento is iterable %}
                                {% for k, item in elemento.0 %}
                                    {% if  (k != 'id' ) or ('_id' not in key) %}
                                        {% if item.timestamp is defined %}
                                            <td>{{ item|date('d/m/Y') }}</td>
                                        {% else %}
                                            <td>{{ item }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>{{ elemento }}</td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>